/*Tela para PC*/
.body{
    background-image: url("../img/campo.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}
.logo{
   width: 32px;
    height: 32px;
    border-radius: 25px;
}
.content{
    margin-top: 200px;
}

.menu {
  height: 100px;
  overflow: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 10px #404040;
  width: 80%;
}
.menuModal{
  background: #ccc;

}

.container-login{

   /* margin: auto;*/
    /*Flexbox*/
    display: flex;
    flex-flow: row nowrap; /*é igual ao flex-direction e flex-wrap*/
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;

}
.container-tela{
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap

}
.footer{
    text-align: center;
    text-color:#000000;
    display: flex;
    position: center;
}
.navTelas{
    align:left;
    width:40px;
    height: 40px;
}
.mensalidade-tabelas{
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row nowrap
}
.sorteioTimes{
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

/*Medias query*/
/* 576 ~ 767px */
@media (max-width: 768px) {
    .body{
        background-image: url("../img/campo.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: #ffffff;
    }
    .logo{
        width: 75px;
        height: 75px;
        border-radius: 25px;
    }

    .container-login{
        width: 384px;
        height: 384px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container-tela{
        width: 384px;
        height: 384px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer{
        text-align: center;
        text-color:#000000;
        display: flex;
        position: center;
    }
    .navTelas{
        align:left;
        width:40px;
        height: 40px;
    }
}
/* 768 ~ 991px */
@media (max-width: 992px) {
    .body{
        background-image: url("../img/campo.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;
    }
    .logo{
        width: 32px;
        height: 32px;
        border-radius: 50px;
    }

    .container-login{
        width: 496px;
        height: 496px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container-tela{
        width: 496px;
        height: 496px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer{
        text-align: center;
        text-color:#000000;
        display: flex;
        position: center;
    }
    .navTelas{
        align:left;
        width:50px;
        height: 50px;
    }
}
/* 992 ~ 1199px  */
@media (max-width: 1200px) {
    .body{
        background-image: url("../img/campo.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;
    }
    .logo{
        width: 32px;
        height: 32px;
        border-radius: 50px;
    }

    .container-login{
        width: 496px;
        height: 496px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container-tela{
        width: 496px;
        height: 496px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer{
        text-align: center;
        text-color:#000000;
        display: flex;
        position: center;
    }
    .navTelas{
        align:left;
        width:50px;
        height: 50px;
    }
}
/* >=1200px  */
@media (min-width: 1201px) {
    .body{
        background-image: url("../img/campo.jpg");
        background-attachment: fixed;
        background-size: 100%;
        background-repeat: no-repeat;
        background-color: white;
    }
    .logo{
        width: 32px;
        height: 32px;
        border-radius: 50px;
    }

    .container-login{
        width: 496px;
        height: 496px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .container-tela{
        width: 496px;
        height: 496px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .footer{
        text-align: center;
        text-color:#000000;
        display: flex;
        position: center;
    }
    .navTelas{
        align:left;
        width:50px;
        height: 50px;
    }
}

