.body{
    background-image: url("../img/campo.jpg");
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: white;
}
.logo{
    width: 72px;
    height: 72px;
    border-radius: 25px;
}

.container-login{
    width: 400px;
    height: 400px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.container-tela{
    width: 400px;
    height: 400px;
    margin: auto;
    justify-content: center;
    align-items: center;

}
.footer{
    text-align: center;
    text-color:#000000;
}
.navTelas{
    align:left;
    width:40px;
    height: 40px;
}
